In [15]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv("nem_price_data.csv") # Extract data for last year

In [19]:
data

,Time,energyPrice,lower5min,lower60sec,lower6sec,raise5min,raise60sec,raise6sec
0,15/05/2021 14:15,-43.00000,5.77,57.10,16.70,0.30,1.00,0.45
1,15/05/2021 14:20,-29.00000,1.36,47.20,16.70,0.30,1.00,0.45
2,15/05/2021 14:25,-1.30000,0.41,14.50,8.68,0.30,1.00,0.45
3,15/05/2021 14:30,-0.00001,0.20,10.30,8.68,0.26,0.81,0.40
4,15/05/2021 14:35,18.50000,0.41,8.68,5.43,0.26,0.81,0.40
...,...,...,...,...,...,...,...,...
105099,15/05/2022 13:50,360.00000,0.50,1.84,0.86,0.50,0.86,1.00
105100,15/05/2022 13:55,352.00000,0.50,0.95,0.86,0.50,0.86,0.95
105101,15/05/2022 14:00,191.00000,0.50,0.95,0.86,0.50,0.86,1.43
105102,15/05/2022 14:05,119.00000,0.50,2.00,0.86,0.50,0.86,1.00
105103,15/05/2022 14:10,271.00000,0.50,2.00,0.86,0.50,0.95,0.95

In [33]:
wholesale_revenue_total = 0
raise_revenue_total = 0
lower_revenue_total = 0

# Capacity
capacity = 10 # 10 MW

# Determine how much each component would generate
for i in range(len(data)):
    hour = int(data.iloc[i]["Time"][-5:-3])
    minute = int(data.iloc[i]["Time"][-2:])
    time = hour + (minute / 60)
    if time <= 19 and time >= 9: # Between 9 am and 7 pm
        total_raise = data.iloc[i]["raise5min"] + data.iloc[i]["raise60sec"] + data.iloc[i]["raise6sec"]
        total_lower = data.iloc[i]["lower5min"] + data.iloc[i]["lower60sec"] + data.iloc[i]["lower6sec"]
        
        raise_revenue = total_raise * (5 / 60) * (10 * 0.2) # Calculated for each 5 min interval for 10 MW
        lower_revenue = total_lower * (5 / 60) * (10) # Also assuming round-trip efficiency of 20%
        
        raise_revenue_total += raise_revenue
        lower_revenue_total += lower_revenue
        
        if data.iloc[i]["energyPrice"] > 300:
            wholesale_revenue_total += data.iloc[i]["energyPrice"] * (10 * 0.2) * 5 / 60

In [34]:
print("total revenue from wholesale: ", wholesale_revenue_total)
print("total revenue from frequency raise bidding: ", raise_revenue_total)
print("total revenue from frequency lower bidding: ", lower_revenue_total)

total revenue from wholesale:  793504.4999999949
total revenue from frequency raise bidding:  1276484.3670951168
total revenue from frequency lower bidding:  2549637.6239999137

In [35]:
total_revenue = wholesale_revenue_total + raise_revenue_total + lower_revenue_total
print("total revenue from laser beaming: ", total_revenue)

total revenue from laser beaming:  4619626.491095025

In [36]:
total_revenue

4619626.491095025

In [37]:
# Assuming $1 / watt cost for laser installation, equating to $10M, the payback time is ~4 years
10e6 / total_revenue

2.1646771701730425